[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"

[packages]
Django = "*"
pipenv-to-requirements = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
