{% extends "base.html" %}

{% block page_title %}
  Review
{% endblock page_title %}


{% block content %}

  <div class="p-4 py-8">
    <h1 class="font-bold text-2xl">Review</h1>
    <div class="my-8">
      {% for review in reviews %}
        <div class="mb-4">
          {% if review.book %}
            <span class="font-medium text-lg">{{review.book}} :</span>
          {% else %}
            <span class="font-medium text-lg">{{review.movie}} :</span>
          {% endif %}
          {{review}}
          <a class="text-blue-400 hover:text-blue-600 text-sm text-white mt-4 py-1 px-2 rounded" href="{% url 'reviews:delete' review.pk %}">delete</a> 
        </div>
      {% endfor %}
    </div>
    <a class="bg-blue-400 hover:bg-blue-600 text-white font-bold mt-4 py-2 px-4 rounded" href="{% url 'reviews:create' user.pk %}">Create Review</a>

  </div>


  


{% endblock content %}